.App {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 0 100px;
  padding: 0;
}

.row {
  display: flex;
}

.GameOver {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.GameOver .over-title {
  margin: 50vh 50vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
